<div id="message-<%= message.id %>">
  <div class="message-chat message-user-<%= message.user.id %>">
    <%#= image_tag url_for(message.user.photo), class: "avatar-chat" %>

    <div class="d-flex w-100 gap-chat flex-column">
      <small class="container-white">
        <% if message.user.photo.attached? %>
          <%= cl_image_tag message.user.photo.key, class: "avatar-chat" %>
        <% else %>
          <%= image_tag ("avatar.png"), class: "avatar-chat"  %>
        <% end %>
        <strong><%= message.user.nickname %></strong>
        <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
      </small>
      <p><%= message.content %></p>
    </div>
  </div>
</div>
