<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-4">
      <div class= "incident-form text-center">
      <img src="https://cdn-icons-png.flaticon.com/512/2797/2797388.png" alt="alert" width="50" height="50">
      <h3>Relatar um incidente</h2>
        <%= simple_form_for(@incident) do |f| %>
        <div class="form-group">
          <%= f.input :incident_type,  label: 'Tipo de incidente', class: "form-control dropdown", collection: Incident::TYPES %>
          <%= f.input :location,
            label: 'Localização',
            input_html: {data: {address_autocomplete_target: "location"}, class: 'd-none m-0'},
            wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
          %>
          <%= f.input :description, label: 'Descrição' %>
          <%= f.button :submit, "Relatar incidente", class: "btn btn-primary" %>
        <% end %>
    </div>
  </div>
</div>
