<div class="d-flex justify-content-between text-center">
  <div class="row w-100">
    <div class="col-sm-12 col-md-6">
      <h4 class= "mt-4"><strong>Incidente:</strong> <%= @incident.incident_type %></h4>
      <hr>
      <p><strong>Endereço:</strong> <%= @incident.location %></p>
      <hr>
      <p><strong>Descrição:</strong> <%= @incident.description%></p>
      <hr>
      <%= link_to "Editar", edit_incident_path(@incident), class: 'btn btn-primary mt-3' %>
      <br>
      <%= link_to "Deletar", incident_path(@incident), data: {turbo_method: :delete, turbo_confirm: "Tem certeza?"}, class: 'btn btn-primary mt-3'%>
    </div>
    <div class="col-sm-6">
      <div style="width: 100%; height: 600px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
  </div>
</div>
