<div class="d-flex justify-content-between ">
  <div class="row w-100">
    <div class="col-sm-12 col-md-6">
      <h2><%= @incident.incident_type %></h2>
      <p><%= @incident.location %></p>
      <p><%= @incident.description%></p>
      <p><%= @incident.user.email %></p>
    </div>
    <div class="col-sm-6">
      <div style="width: 100%; height: 600px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
  </div>
</div>
