
<div class="d-flex justify-content-between text-center w-100 ">
  <div class="row w-100 align-items-center bg-white">
    <div class="col-sm-12 col-md-6 mt-5">
    <%= image_tag "https://res.cloudinary.com/dwvglguvp/image/upload/c_crop,w_798/v1669987359/development/vigilante/1000_F_518511462_iNQzBBvxZNVwTw9DRyVyjh5X27HPJbJ2_rfdkih.jpg",
    style:"width:150px; height:150px;"%>
      <h4> <strong> Incidente: <%= @incident.incident_type %> </strong></h4>
      <p> <i class="fa-solid fa-location-dot"></i> <%= @incident.location %></p>
      <p><strong>Descrição:</strong> <%= @incident.description%>"</p>
      <% if policy(@incident).edit? %>
        <%= link_to "Editar", edit_incident_path(@incident), class: 'btn btn-outline-secondary mt-3' %>
      <% end %>
      <% if policy(@incident).destroy? %>
        <%= link_to "Deletar", incident_path(@incident), data: {turbo_method: :delete, turbo_confirm: "Tem certeza?"}, class: 'btn btn-outline-secondary mt-3'%>
      <% end %>
  </div>
    <div class="col-6">
      <div style="width: 100%; height: 100vh;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-marker-value="<%= @marker.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
    </div>
  </div>
</div>
