<div class="container chat-grid">
  <div class="chatrooms">
    <h2>Chatrooms</h2>
    <ul class="list-group">
      <% @chatrooms.each do |chat| %>
        <% if chat.user_two.photo.attached? %>
          <li><%= cl_image_tag chat.user_two.photo.key, class: "avatar-chat" %> <%= link_to chat.name, chatroom_path(chat) %></li>
        <% else %>
          <li><%= image_tag "avatar.png", class: "avatar-chat" %> <%= link_to chat.name, chatroom_path(chat) %></li>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div class="container chatroom justify-content-center"
    data-controller="chatroom-subscription"
    data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>">

    <div class="d-flex align-items-center">
      <h1>#<%= @chatroom.name %></h1>
    </div>

    <div class="messages" data-chatroom-subscription-target="messages">
      <% @chatroom.messages.each do |message| %>
        <%= render "messages/message", message: message, incident: @incident %>
      <% end %>
    </div>

    <%= simple_form_for [@chatroom, @message],
    html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex" } do |f|
    %>
      <%= f.input :content,
        label: false,
        placeholder: "Message ##{@chatroom.name}",
        wrapper_html: {style: "margin-bottom: 0px !important; width: 100%;"}
      %>
      <%= f.submit "Enviar", class: "btn mb-3" %>
    <% end %>
  </div>
</div>
