<div class="navbar navbar-expand-sm navbar-light navbar-lewagon ">
  <div class="container-fluid text-light row--vertical-center">
    <%= link_to home_path, class: "navbar-brand" do %>
      <%= "VIG!LANTE" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to new_incident_path, class: "nav-link btn text-white" do %>
              <%= "Relatar incidente" %>
            <% end %>
          </li>
          <li class="nav-item active">
            <%= link_to "https://www.delegaciaeletronica.policiacivil.sp.gov.br/ssp-de-cidadao/pages/comunicar-ocorrencia",target: '_blank', class: "nav-link btn text-white" do %>
              <%= "Comunicar B.O" %>
            <% end %>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false", aria-haspopup= "true">
              Bairros
            </a>
            <ul class="dropdown-menu dropdown-menu-light">
              <li><%= link_to "Não podes", list_path, class: "dropdown-item" %></li>
              <li><%= link_to "Podes", '#', class: "dropdown-item" %></li>
            </ul>
          </li>

            <li class="nav-item dropdown">
              <%= image_tag "https://res.cloudinary.com/dwvglguvp/image/upload/v1669923543/development/vigilante/avatar_c4ytkf.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <p class="text-center mt-2"> <%= current_user.nickname %> </p>
                  <hr>
                  <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
                </div>
            </li>
        <% else %>
          <li class="nav-item ">
            <%= link_to "Login", new_user_session_path, class: "nav-link text-white" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
