<div class="list">
  <main>
    <div class="container-title">
      <h3>Bairros com mais incidentes:</h3>
    </div>

    <div class="container ">
      <ol class="danger-list">
        <li> Capão Redondo: <%= Incident.near([-23.662935, -46.766866],5).count(:all) %> incidentes </li>
        <li> Campo Limpo: <%= Incident.near([-23.632947704703927, -46.7555051841067],5).count(:all) %> incidentes </li>
        <li> São Mateus: <%= Incident.near([-23.597733, -46.482696],5).count(:all) %> incidentes </li>
        <li> Vila Prudente: <%= Incident.near([-23.584459122198982, -46.590238834767256],5).count(:all) %> incidentes </li>
        <li> Itaquera: <%= Incident.near([-23.545234, -46.454479],5).count(:all) %> incidentes </li>
        <li> Cidade Ademar: <%= Incident.near([-23.670314861722535, -46.65686260296583],5).count(:all) %> incidentes </li>
        <li> Sé: <%= Incident.near([-23.553284, -46.630487],5).count(:all) %> incidentes </li>
        <li> Cidade Tiradentes: <%= Incident.near([-23.603742, -46.400153],5).count(:all) %> incidentes </li>
        <li> Casa Verde: <%= Incident.near([-23.509817, -46.656246],5).count(:all) %> incidentes </li>
        <li> Taboão: <%= Incident.near([-23.669117, -46.606639],5).count(:all) %> incidentes </li>
      </ol>
    </div>
  </main>
</div>
