<div class="list">
  <main>
    <div class="container-title">
      <h3>Bairros com menos incidentes: </h3>
    </div>

    <div class="container ">
      <ol class="danger-list-2">
        <li> Vila Nova Conceição: <%= Incident.near([-23.592903270352213, -46.67707103368314],5).count(:all) %> incidentes </li>
        <li> Itaim Bibi: <%= Incident.near([-23.584055944102875, -46.67814470913056],5).count(:all) %> incidentes </li>
        <li> Moema: <%= Incident.near([-23.601923959751666, -46.67215670242777],5).count(:all) %> incidentes </li>
        <li> Jardins: <%= Incident.near([-23.57297626616848, -46.67310591900806],5).count(:all) %> incidentes </li>
        <li> Perdizes: <%= Incident.near([-23.53593260609017, -46.67574100148111],5).count(:all) %> incidentes </li>
      </ol>
    </div>
  </main>
</div>
